.wrapper {
  background-color: #154D9E;
}

#landing-page {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  overflow-x: hidden;
}

#landing {
  padding: 50px;
  width: 80vw;
}

#login {
  margin: 0;
  background-color: transparent;
  border: 0;
  font-family: "Ilisarniq Regular";
  color: rgba(255, 255, 255, 0.8);;
  font-size: 12px;
  transition: all .5s cubic-bezier(.68,-.55,.265,1.5);
  text-decoration: none;
  margin-left: 20px;
  display: inline-block;
}
#login span, #highlight {
  color: #FFF;
  font-family: "Ilisarniq Bold";
  position: relative;
  transition: all .5s cubic-bezier(.68,-.55,.265,1.5);
}
#login span:hover, #sticky:hover #highlight {
    opacity: .5;
}
#login span:after, #highlight:after{
    content: "";
	height: 1.5px;
	width: 100%;
	opacity: .2;
	position: absolute;
	left: 0;
	bottom: -5px;
	background-color: #FFF;
	transition: all .5s cubic-bezier(.68,-.55,.265,1.5);
}
#login span:hover:after #sticky:hover #highlight:after {
    bottom: -7px;
}
#lottie {
	position: absolute;
	right: 10%;
	top: 180px;
	overflow: hidden;
  height: 60%;
	z-index: 1;
}

.page-banner {
  z-index: 2;
  position: relative;
  height: 400px;
}

.page-banner a {
  text-decoration: none;
}

#main-banner {
  height: 50%;
}

h1 {
	font-family: "Playfair Display";
	color: #FFF;
	font-weight: normal!important;
	font-size: 50px;
}

#landing h1 {
  width: 50%;
}

h2 {
	font-family: "Ilisarniq Regular";
	color: #FFF;
	opacity: .6;
	font-size: 15px;
	font-weight: normal!important;
	width: 30%;
	line-height: 30px;
}
#signup {
	background-color: #F3227A;
	color: #FFF!important;
	font-family: "Ilisarniq Bold";
	display: inline-block;
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 14px;
	margin-top: 40px;
	transition: all .5s cubic-bezier(.68,-.55,.265,1.5);
	text-decoration: none;
}

label {
	font-family: "Ilisarniq Regular";
	color: rgba(255, 255, 255, 0.6);
	display: block;
	margin-bottom: 15px;
	text-align: left;
  width: 60%;
	margin-left: auto;
	margin-right: auto;
}
input, textarea {
	border: none;
	outline: none;
	width: 60%;
	height: 50px;
	text-indent: 20px;
	margin-bottom: 20px;
		font-family: "Ilisarniq Regular";
}
textarea {
	height: 200px;
	padding-left: 20px;
	text-indent: 0px;
	line-height: 20px;
	padding-top: 20px;
	padding-right: 20px;
}
textarea::-webkit-input-placeholder {
	font-family: "Ilisarniq Regular";
	font-size: 13px;
}

#signup {
	background-color: #F3227A;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	font-family: "Ilisarniq Bold";
	color: #FFF;
	line-height: 50px;
	margin-top: 30px;
	text-align: center;
	cursor: pointer;
	margin-bottom: 50px;
	transition: all .5s cubic-bezier(.68,-.55,.265,1.5);
}

#signup:hover {
    width: 250px;
}
form {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
::placeholder {
  color: #000;
  opacity: .2;
}

:-ms-input-placeholder {
  color: #000;
  opacity: .2;
}

::-ms-input-placeholder {
  color: #000;
  opacity: .2;
}

#footer p {
	display: inline-block;
	font-size: 12px;
	font-weight: normal;
}
#footer a {
	text-decoration: none;
	color: #FFF;
}

#footer {
	font-family: "Ilisarniq Regular";
	color: #FFF;
	text-align: center;
	position: absolute;
	bottom: 20px;
	width: 100%;
}
.underline {
	font-family: "Ilisarniq Bold";
	position: relative;
	transition: all .5s cubic-bezier(.68,-.55,.265,1.5);
}
#boxcontent a {
    font-family: "Ilisarniq Bold";
	position: relative;
	transition: all .5s cubic-bezier(.68,-.55,.265,1.5);
	color: #FFF!important;
	text-decoration: none;
}
#boxcontent a:after {
    content: "";
	height: 1.5px;
	width: 100%;
	opacity: .2;
	position: absolute;
	left: 0;
	bottom: -5px;
	background-color: #FFF;
	transition: all .5s cubic-bezier(.68,-.55,.265,1.5);
}
.underline:after {
	content: "";
	height: 1.5px;
	width: 100%;
	opacity: .2;
	position: absolute;
	left: 0;
	bottom: -5px;
	background-color: #FFF;
	transition: all .5s cubic-bezier(.68,-.55,.265,1.5);
}

#boxcontent a:hover {
    opacity: .5;
}
.underline:hover {
	opacity: .5;
}
#boxcontent a:hover:after {
    bottom: -7px;
}
.underline:hover:after {
	bottom: -7px;
}

.submit-button {
	background-color: #F3227A;
	width: 400px;
	color: #FFF;
	font-family: "Ilisarniq Bold";
	font-size: 13px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	text-decoration: none;
	display: block;
	transition: all .5s cubic-bezier(.68,-.55,.265,1.5);
	margin-bottom: 35px;
}
.submit-button:hover {
	width: 450px;
}

#logo p {
    display: inline-block;
    font-family: "Ilisarniq Bold";
    color: #FFF;
    font-size: 1.3em;
    opacity: .5;
    margin-left: 10px;
}
#logo img {
    display: inline-block;
    margin-bottom: -15px;
}
#sticky {
    position: absolute;
    display: block;
    width: 100%;
    top: 0;
    background-color: #000;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #FFF;
    font-family: "Ilisarniq Regular";
    text-decoration: none;
    font-size: 12px;
}
#sticky img {
    width: 22px;
    margin-right: 5px;
    margin-bottom: -5px;
}
@media only screen and (max-width: 1004px) {
    #landing h1 {
        width: 85%;
    }
    input, label, .info, textarea {
        width: 80%;
    }
    h2 {
        width: 60%;
        opacity: .8;
    }
    #lottie {
        opacity: .5;
    }
}
@media only screen and (max-width: 330px) {
    #sticky img {
        display: none;
    }   
}
@media only screen and (max-width: 705px) {
    #landing h1 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }   
    h2 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    #signup {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
    }
    #lottie {
      right: 0;
      left: 50%;
      width: 90%;
      transform: translate(-50%, 0);
    }
    #login {
        display: block;
        margin-left: auto;
        margin-top: 20px;
        margin-right: auto;
        text-align: center;
        margin-bottom: 100px;
    }
    #logo p {
        display: none;
    }
    #logo {
        text-align: center;
    }
    #ok {
        display: none;
    }
    #main-banner {
      height: 30%;
    }
}
@media only screen and (max-width: 624px) {
    #landing h1 {
        width: 90%;
    }   
    h2 {
        width: 80%;
    }
}
@media only screen and (max-width: 483px) {
    #generatedurl {
        width: 95%;
    }  
    #tweet {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
    }
    #copy {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width: 437px) {
    #orange, #purple, #blue, #yellow {
        margin-right: 15px;
        width: 30px;
        height: 30px;
    }   
    #boxcontent {
        width: 80%;
    }
    #red {
        width: 30px;
        height: 30px;
    }
    #landing h1 {
        width: 90%;
    }
    .submit-button {
        width: 100%;
    }
    #sticky {
        font-size: 11px;
    }
}
@media only screen and (max-width: 552px) {
    #unwrap {
        margin-top: 60px;
    }
}
@media only screen and (max-width: 483px) {
    #generatedurl {
        width: 90%;
        font-size: 12px;
    }   
}
@media only screen and (max-width: 672px) {
    #generatedurl {
        width: 80%;
    }   
    #landing h1 {
        font-size: 25px;
        margin-top: 40px;
    }
}
@media only screen and (max-width: 719px) {
    .item {
        display: block;
        margin-right: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
    }
}