.nav-bar {
  height: auto;
  display: flex;
  z-index: 9999;
  padding: 0 30px;
  justify-content: space-between;
}


.img-holder {
  width: 40px;
  height: 40px;
  position: relative;
  display: inline-block;
}
.img-holder .nav-img {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.img-holder:hover .nav-img {
  display: inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

li a sub {
  font-size: 0.5rem;
  font-weight: 100;
  color:rgb(165, 165, 165);
  font-style: italic;
  vertical-align: sub;
}

@media only screen and (max-width: 705px) {
  li {
    display: none;
  }

  li:first-child {
    display: flex;
  }
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: #F3227A;
}